<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pdf Example</title>
</head>
<body>
    <form action ="/search" method ="GET">
        <input type ="text" name ="find" placeholder ="Search">
        <input type="submit" name ="submit">
    </form>
    <a href ="/download"><button>Download</button></a>

    <form action= "/profile" method ="POST" enctype="multipart/form-data">
    <input type= "file" name ="avatar">
    <input type= "submit" name ="submit">
    </form>
</body>
</html>